.header {
    background-color: pink;
    color: white;
}

.style-par {
    color: white;
    background-color: lightpink;
    font-weight: bold;
}

.list-item {
    color: pink;
    border: 1px solid black;
    display: inline-block;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
}